
.vs/Dictionary_CSharp/DesignTimeBuild/.dtbcache.v2
.vs/Dictionary_CSharp/FileContentIndex/0aad60d6-7a2a-48cf-82cf-016072083d35.vsidx
.vs/Dictionary_CSharp/FileContentIndex/read.lock
*.v2
*.2
.vs/Dictionary_CSharp/v17/.suo
Dictionary_CSharp/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Dictionary_CSharp/obj/Debug/net6.0/Dictionary_CSharp.AssemblyInfo.cs
*.cache
Dictionary_CSharp/obj/Debug/net6.0/Dictionary_CSharp.GeneratedMSBuildEditorConfig.editorconfig
Dictionary_CSharp/obj/Debug/net6.0/Dictionary_CSharp.GlobalUsings.g.cs
Dictionary_CSharp/obj/Dictionary_CSharp.csproj.nuget.dgspec.json
*.props
*.targets
Dictionary_CSharp/obj/project.assets.json
*.vsidx
Dictionary_CSharp/obj/Debug/net6.0/Dictionary_CSharp.csproj.FileListAbsolute.txt
Dictionary_CSharp/bin/Debug/net6.0/Dictionary_CSharp.deps.json
Dictionary_CSharp/bin/Debug/net6.0/Dictionary_CSharp.dll
*.exe
*.pdb
*.json
Dictionary_CSharp/obj/Debug/net6.0/Dictionary_CSharp.csproj.BuildWithSkipAnalyzers
Dictionary_CSharp/obj/Debug/net6.0/Dictionary_CSharp.dll
Dictionary_CSharp/obj/Debug/net6.0/ref/Dictionary_CSharp.dll
Dictionary_CSharp/obj/Debug/net6.0/refint/Dictionary_CSharp.dll
